@import './base.css';

#app {
  font-weight: normal;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

input {
  font-family: monospace;
  box-sizing: border-box;
  padding: 1%;
  border: 2px solid #fff;
  transition: border ease 0.15s;
  outline: none;
  margin: 0;
}

input:focus {
  border-color: #ff3304;
}

textarea {
  resize: none;
  flex-grow: 1;
  font-family: monospace;
  box-sizing: border-box;
  padding: 1%;
  border: 2px solid #fff;
  transition: border ease 0.15s;
  outline: none;
  margin: 0;
}

textarea:focus {
  border-color: #ff3304;
}

textarea:read-only {
  background-color: #fbfbfb;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}
